/*.loginpage {
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zMDktYWRqLTE0LmpwZw.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10% 5% 10% 5%;
}
*/