/* src/StudentLoginForm.css */
.form-container {
    max-width: 500px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

form div {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

button {
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

span {
    color: red;
    font-size: 0.9em;
}
a{
    cursor:pointer;
}
/*body {
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-school-supplies-pattern-background_23-2150855728.jpg?w=900&t=st=1718385076~exp=1718385676~hmac=f973466bf656f49713db986ca3b10a51121ddf5cc2dfb91de7187de40502eb0d");
    background-repeat: no-repeat;
    background-size:cover;
    
}*/